<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Employee Management System </a>
    <div>
      <button
        type="button"
        class="primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Add Employee
      </button>
    </div>
  </div>
</nav>

<div class="body">
  <div class="container">
    <app-employee></app-employee>
  </div>
</div>

<footer>
  <p>
    Created with
    <img class="p-1 mb-1" src="./assets/images/heart.png" alt="heart" /> by
    <a target="_blank" href="#"> Zeel Gajrawala</a>
  </p>
</footer>